@{
    ViewData["Title"] = "About PupBnB";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Our mission</h2>

<p>
    To use Internet technology and the resources it can generate to:
    <ol>
        <li> Increase public awareness of the availability of adoptable pets</li>
        <li>Increase the overall effectiveness of pet adoption programs across Romania to the extent that the euthanasia of adoptable pets is eliminated</li>
        <li> Elevate the status of pets to that of family member</li>
    </ol>
</p>

<h2>Meet some of our first members!</h2>

<div class="row">
    <div class="column2">
        <div class="content">
            <img src="~/images/p1 .png" alt="David" style="width:100%">
            <h4>David Copperfield</h4>
            <p class="title"> Volunteer since 2014</p>
        </div>
    </div>
    <div class="column2">
        <div class="content">
            <img src="~/images/p2.png" alt="Marta" style="width:100%">
            <h4>Marta Steward</h4>
            <p class="title"> Founder </p>
        </div>
    </div>
    <div class="column2">
        <div class="content">
            <img src="~/images/p3.png" alt="Tonya" style="width:100%">
            <h4>Tonya Lee</h4>
            <p class="title"> Volunteer since 2011</p>
        </div>
    </div>
    <div class="column2">
        <div class="content">
            <img src="~/images/p4.png" alt="Andrew" style="width:100%">
            <h4>Andrew Doe</h4>
            <p class="title"> Site admin &amp; volunteer since 2009</p>
        </div>
    </div>
</div>

<h2>Disclaimer</h2>

<p>
    PupBnB accepts no responsiblity for any liability or for any injury or damages to any person or property caused by
    any listed animal, as well as any cause of action, claims, suits or demands whatsoever that may arise as a result of such
    injury or damage.
</p>